= @user.state.upcase
-if editor?
  %br
  - if @user.pending?
    = link_to 'Activate User', :url => activate_admin_user_path(@user), :remote => true, :method => :put, :update => 'user-state'
    (if user cannot receive confirmation email)
  - elsif @user.suspended?
    = link_to 'Unsuspend User', :url => unsuspend_admin_user_path(@user), :remote => true, :method => :put, :update => 'user-state'
  - else
    = link_to 'Suspend User', :url => suspend_admin_user_path(@user), :remote => true, :method => :put, :update => 'user-state'
    (hides all ideas and comments)
