%validation-errors
  -current_object.errors.each do |field, message|
    %error
      -unless field == 'base'
        %field= field
        %field-display-name= current_object.class.human_attribute_name(field)
      %message= message
